

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-family: "Montserrat";
}

/* estilo para el logo */
.logo-box{
  width: 50vw !important;
  margin-left: 5px;

}

/* estilo para la imagen del logo */
.logo-box img {
  width: 110px;
  margin: auto 5px;
}

/* estilo para el texto de intro. Aparece antes de 576px. */
.text-intro{
  margin: 2rem;
}

.text-intro h1 {
  font-weight: bolder;
}



/* contenedor de las tarjetas con cifras. Aparece en versión móvil y fullscreen */
.card-box{
  margin: 18px auto;
  display:inline-block;
  border-radius: 10%;
  box-shadow: 1px 1px 20px 0 rgba(61, 61, 61, 0.429);
  width: 160px;
  height: 160px;
  padding: 5px;
    font-family: 'Montserrat';
      text-align: center;
}


/* numero dentro de card-box */
.indice-text{
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #6979F8;
}

/* titulo de la card-box */
.card-title{
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

/* botón de selección para elegir los datos que aparecerán en el gráfico */
.graph-label{
  text-decoration: underline;
  text-decoration-color: #6979F8;
  text-decoration-thickness: 2px;
}

/* texto descriptivo dentro de la tarjeta */
.desc-text{
    font-weight: lighter;
    font-size: 15px;
      text-align: center;
      color: gray

}

/* contenedor del gráfico  */
.graphic-box {
  margin: 18px auto;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0 rgba(61, 61, 61, 0.429);
width: 80%;
height: 90%;
  padding: 10px;
  font-family: 'Montserrat';
  text-align: center;
border: 1px solid #E5E5E5;

}

/* barra de navegación en versión móvil */
.navButton{
width: 95vw;
  height: 30px;
  background-color: #2D14C4;
  position:fixed;
  bottom: 1rem;
  border-radius: 15px;
height: 62px;
text-align: center;
align-self: center;
padding: 15px;
justify-content: space-between;
margin: auto 0.5rem;
}
@media(min-width:576px){
  .navButton{
    display:none;
  }
}


/* iconos/botones para la barra de navegación móvil  */
.navButton span {
  color:white;
  margin: auto 2rem;
  font-size: 20px;
}


/* estilos para textos de la columna derecha. visible en fullscreen  */
.total-graphic-box span {
  color: grey;
  font-size: 14px;
}

.total-graphic-box h3 {
  font-weight: bolder;
}

/* estilo para caja de la columna derecha */
.col-der-box {
margin-left: 3rem;
  padding: 1rem
}

