*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.logo-box{
  width: 40vw !important;
  margin-left: 5px;

}

.logo-box > img{
  width: 70px;
  margin: auto 5px;
}

.card-box{
  margin: 18px auto;
  display:inline-block;
  border-radius: 10%;
  box-shadow: 1px 1px 20px 0 rgba(61, 61, 61, 0.429);
  width: 160px;
  height: 160px;
  padding: 5px;
    font-family: 'Montserrat';
      text-align: center;

}

.indice-text{

font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */



  color: #6979F8;

}

.card-title{
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

.graph-label{
  text-decoration: underline;
  text-decoration-color: #6979F8;
  text-decoration-thickness: 2px;
}

.desc-text{

    font-weight: lighter;
    font-size: 15px;

      text-align: center;
      color: gray

}

.graphic-box {
  margin: 18px auto;
  display: inline-block;
  border-radius: 10%;
  box-shadow: 1px 1px 20px 0 rgba(61, 61, 61, 0.429);
width: 80%;
height: 90%;
  padding: 10px;
  font-family: 'Montserrat';
  text-align: center;

}

.navButton{
width: 95vw;
  height: 30px;
  background-color: #2D14C4;
  position:fixed;
  bottom: 1rem;
  border-radius: 15px;
height: 62px;
text-align: center;
align-self: center;
padding: 15px;
justify-content: space-between;
margin: auto 0.5rem;
}
@media(min-width:570px){
  .navButton{
    display:none;
  }
}

.navButton span {
  color:white;
  margin: auto 1.5rem;
  font-size: 20px;
}